<section class="container">
    <div class="row">
        <div class="col-lg-6 sm-12 con">
            <h1>NIKE PERFORMANCE</h1>
            <h3>"Playoffs Bred (2019)"</h3>

            <p>
                Black, red and white patent leather Air Jordan 11 Retro sneakers from jordan featuring
                a round toe, a lace-up front fastening, a branded insole, padded ankles and a rubber sole.
            </p>


            <h3>$300</h3>
            <div class="buttons">
                <button class="btn btn-danger">Add to cart</button>
                <button class="btn btn-outline-danger">Buy Now</button>
            </div>

            <ul class="side">
                <li><a href="#">S</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">XL</a></li>
            </ul>

            
        </div>


        <div class="col-lg-6 sm-12">
                <div class="contenedor">
                    <img src="assets/logo1.png" alt="">
                </div>
        </div>
    </div>
</section>